.posts {
  width: 90%;
  max-width: 60rem;
  margin: var(--size-8) auto;
  display: flex;
  flex-direction: column;
}

.posts h1 {
  font-size: var(--size-8);
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  .posts h1 {
    font-size: var(--size-12);
  }
}
