.posts {
  width: 100%;
  /* max-width: 1440px;
  margin: var(--size-8) auto; */
  display: flex;
  flex-direction: column;
  background-color: #07070c;
  padding: 6rem 4rem;
}

.posts h1 {
  font-size: var(--size-8);
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  .posts h1 {
    font-size: var(--size-12);
  }
}
