.features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 55px;
  padding: 0 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  grid-gap: 40px;
  grid-auto-rows: 550px;
  justify-items: center;
  align-items: center;
}

@media (min-width: 991px) {
}
