.post {
  width: 100%;
  height: 560px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #07070c;
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.4);
}

.post:hover {
  -webkit-box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.special {
  margin-bottom: 0px;
}

.post a {
  color: white;
}

.image_container {
  width: 100%;
  height: 220px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--size-2);
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-5);
  color: white;
  text-align: center;
}

/* .content time {
  font-style: italic;
  color: #fa8231;
} */

.content p {
  font-size: 15px;
  line-height: var(--size-6);
  color: #ababab;
  text-align: center;
}

@media (min-width: 991px) {
  .special {
    margin-bottom: 80px;
  }
}

@media (min-width: 480px) {
  .container {
    justify-content: space-between;
  }

  .post {
    width: 420px;
  }

  .image_container {
    width: 100%;
    height: 260px;
  }

  .content p {
    font-size: 18px;
  }

  .content h3 {
    font-size: var(--size-6);
  }

  .content {
    padding: var(--size-3);
  }
}
