.post {
  width: 100%;
  height: 560px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 12px;
  backdrop-filter: blur(20px);
  border: 1px solid #07070c;
  -webkit-box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.4);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.special {
  margin-bottom: 0px;
}

.post a {
  color: white;
}

.image_container {
  height: 260px;
}

.image {
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--size-4);
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
  color: white;
  text-align: center;
}

/* .content time {
  font-style: italic;
  color: #fa8231;
} */

.content p {
  font-size: 18px;
  line-height: var(--size-6);
  color: #ababab;
  text-align: center;
}

@media (min-width: 991px) {
  .special {
    margin-bottom: 80px;
  }
}

@media (min-width: 480px) {
  .post {
    width: 420px;
  }
}
