.post {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: grey;
}

.post a {
  color: white;
}

.image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
}

.image img {
  object-fit: cover;
}

.content {
  padding: var(--size-4);
}

.content div {
  width: 60px;
  height: 3px;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
  transition: all 2s ease-out;
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
  color: white;
}

.content time {
  font-style: italic;
  color: #fa8231;
}

.content p {
  line-height: var(--size-6);
  color: #81afdd;
}
