.content {
  width: 95%;
  max-width: 70rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  background-color: #273549;
  border-radius: 6px;
  padding: var(--size-4);
}

.content p {
  color: #dfe3e7;
  font-size: 18px;
}

.content li {
  color: #dfe3e7;
  padding: 0 15px;
  list-style: inside;
  list-style-type: square;
  font-size: 18px;
}

.content h6 {
  margin: 0 30px;
  text-align: center;
  font-size: 16px;
  color: #00dbd8;
  font-weight: 300;
}

.content a {
  color: #555f7c;
  /* text-decoration: underline; */
}

.content a:hover {
  background: linear-gradient(270deg, #00dbd8, #b133ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .image {
  margin: var(--size-4) auto;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  border-radius: 10px;
}

.image img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #606469;
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
}
