.content {
  width: 95%;
  max-width: 80rem;
  margin: 100px auto;
  padding: var(--size-4);
  font-size: var(--size-5);
  line-height: var(--size-8);
  background-color: rgb(4, 4, 4);
  border-radius: 6px;
  border: 1px solid #07070c;
}

.content pre {
  border-radius: 10px;
  background-color: transparent;
  font-size: 14px;
}

.content pre::-webkit-scrollbar {
  height: 8px;
}

.content pre::-webkit-scrollbar-track {
  background: #000c;
}

.content pre::-webkit-scrollbar-thumb:horizontal {
  background-color: #252535;
  border-radius: 24px;
  cursor: grab;
}

.content p {
  color: rgb(83, 83, 100);
  font-size: 18px;
}

.content li {
  color: #60636c;
  padding: 10px 25px 10px 25px;
  list-style-type: none;
  font-size: 17px;
  font-weight: 300;
  text-align: left;
  line-height: 16px;
}

.content h1,
.content h2,
.content h3 {
  color: #e4dada;
  font-weight: 300;
  font-size: 22px;
  padding: 20px 0px;
  text-align: center;
}

.content h4,
.content h5 {
  color: #a7a2a2;
  font-weight: 300;
  font-size: 18px;
}

.content h6 {
  text-align: center;
  font-size: 17px;
  color: rgba(255, 68, 18, 0.5);
  font-weight: 300;
}

.content a {
  color: #555f7c;
  /* text-decoration: underline; */
}

.content a:hover {
  background: linear-gradient(270deg, #00dbd8, #b133ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .image {
  margin: var(--size-4) auto;
  width: 100%;
  /* max-width: 800px; */
  /* min-height: 300px; */
  border-radius: 10px;
  cursor: pointer;
}

.image img:hover {
  opacity: 1;
  object-fit: cover;
  height: 100%;
}

.image img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
  .content pre {
    font-size: 18px;
  }

  .content h1,
  .content h2,
  .content h3 {
    color: #e4dada;
    font-weight: 300;
    font-size: 24px;
    padding: 20px 0px;
    text-align: left;
  }

  .content h6 {
    text-align: left;
    font-size: 17px;
    color: rgba(255, 68, 18, 0.5);
    font-weight: 300;
    padding: 15px 50px;
  }
}
