.counter {
  color: #a7a2a2;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  /* outline: none; */
  border: none;
  cursor: pointer;
}

.header button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
