.footer {
  min-height: 55vh;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px;
  background: #000;
  background-image: url('/assets/images/aiGlobe.png');
  background-position: top;
}

.footer_title h2 {
  font-size: 45px;
  background: linear-gradient(
    145deg,
    rgba(7, 7, 12, 1) 0%,
    rgba(62, 0, 0, 1) 24%,
    rgba(255, 68, 18, 1) 36%,
    rgba(242, 245, 62, 1) 48%,
    rgba(235, 157, 56, 1) 64%,
    rgba(255, 68, 18, 1) 72%,
    rgba(62, 0, 0, 1) 84%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.footer_title p {
  color: whitesmoke;
  font-size: 16px;
}

.link {
  padding: 0 5px;
  color: #a8a6a6;
  text-decoration: underline;
}

.link:hover {
  color: #9f9090;
}

@media (max-width: 768px) {
  .footer_title h2 {
    font-size: 40px;
    line-height: 40px;
  }

  .footer_title p {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 24px;
  }
}
