.explore {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  background-color: #000c;
  padding: 3rem 0;
}

.explore_title {
  font-size: 34px;
  text-align: center;
  padding: 0 15px 15px 15px;
}

@media (max-width: 480px) {
  .explore_title {
    font-size: 24px;
  }
}
