.contact {
  width: 90%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  background-image: url('/assets/images/aiGlobe.png');
  background-position: top;
  padding: var(--size-4);
  padding-top: 80px;
  border-radius: 10px;
}

.form label {
  display: block;
  margin: var(--size-2) 0 var(--size-1) 0;
  color: #e4dada;
  font-size: var(--size-3);
}

.form input,
.form textarea {
  width: 100%;
  padding: var(--size-2);
  resize: none;
  background: linear-gradient(89.97deg, rgba(255, 68, 18, 0.5), rgba(62, 0, 0, 0.5) 102.67%);
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 18px;
  outline: none;
  border: 1px solid black;
}

.controls {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.actions {
  margin-top: var(--size-4);
  text-align: right;
}

.form button {
  cursor: pointer;
  border: 1px solid black;
  padding: var(--size-2) var(--size-4);
  background-color: #07070c;
  color: #cac5c5;
  font-size: 20px;
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.4);
  transition: color 0.2s ease-in-out;
}

.form button:hover {
  color: rgba(255, 68, 18, 0.5);
}

@media (min-width: 768px) {
}
