.contact {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 28px 28px 28px;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title h4 {
  font-size: 18px;
  font-weight: 400;
  color: #e4dada;
  margin-bottom: 35px;
  margin-top: 40px;
}

.title p {
  font-size: 16px;
  font-weight: 400;
  color: #4a4a5e;
}

.title p:last-child {
  margin-bottom: 40px;
}

.icon_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.form_title {
  padding-top: 50px;
  font-size: 18px;
  font-weight: 400;
  color: #e4dada;
  text-align: center;
}

@media (min-width: 768px) {
  .contact {
    padding: 200px 64px 64px 64px;
  }

  .title h4 {
    font-size: 26px;
  }

  .title p {
    font-size: 18px;
  }

  .form_title {
    font-size: 28px;
  }
}
